@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  top: 0;
  left: 0;
}

body {
  background-color: rgb(31, 46, 53);
}

.header {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4941176471);
  background-color: rgb(31, 46, 53);
  height: 80px;
  position: fixed;
  z-index: 2;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 46, 53);
  padding: 0px 100px 0px 100px;
}
.header .nav .header__logo {
  margin: 19px 0px 0px 0px;
}
.header .nav .header__logo .header__logo__img-2 {
  margin: -5px 0px 0px 0px;
}
.header .nav .divv {
  display: flex;
}
.header .nav .divv .header__list {
  display: flex;
  gap: 30px;
  margin: 27px 24px 0px 0px;
}
.header .nav .divv .header__list .header__item {
  list-style: none;
}
.header .nav .divv .header__list .header__item .header__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(174, 174, 174);
  transition: 0.5s;
}
.header .nav .divv .header__list .header__item .header__link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #fff;
}
.header .nav .divv .div {
  margin: 8px 0px 0px 0px;
}
.header .nav .divv .div .header__btn-signln {
  width: 102px;
  height: 43px;
  border: 1px solid rgb(188, 208, 229);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(255, 255, 255);
  transition: 1s;
  background-color: rgb(31, 46, 53);
}
.header .nav .divv .div .header__btn-signln:hover {
  background-color: rgb(188, 208, 229);
  box-shadow: 0 0 10px rgb(188, 208, 229);
}
.header .nav .divv .div .header__btn-signup {
  width: 110px;
  height: 43px;
  background-color: rgb(2, 137, 122);
  border: 1px solid rgb(2, 137, 122);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 5px;
  transition: 1s;
  margin: 0px 0px 0px 24px;
}
.header .nav .divv .div .header__btn-signup:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}
.header .nav .menu {
  display: none;
}
.header .nav .header__btn-darkMode {
  border: none;
  margin: 5px 0px 0px 24px;
  background-color: rgb(31, 46, 53);
}

.sectione-1 {
  max-width: 1122px;
  margin: 0 auto;
  padding: 0, 20px;
}
.sectione-1 .sectione-1__div {
  margin: 105px 0px 0px 0px;
  display: flex;
}
.sectione-1 .sectione-1__div .sectione-1__content {
  margin: 107px 0px 0px 0px;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: rgb(255, 255, 255);
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin: -27px 50px 0px 0px;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div {
  margin: 45px 0px 0px 0px;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div .sectione-1__btn-signln {
  width: 175px;
  height: 53px;
  border: none;
  border-radius: 5px;
  background-color: rgb(2, 137, 122);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  transition: 1s;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div .sectione-1__btn-signln:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div .sectione-1__btn-signup {
  gap: 10px;
  margin: 20px 0px 0px 30px;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div .sectione-1__btn-signup a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(2, 137, 122);
  transition: 0.5s;
}
.sectione-1 .sectione-1__div .sectione-1__content .sectione-1__div .sectione-1__btn-signup a:hover {
  text-shadow: 0 0 10px rgb(2, 137, 122);
}

.sectione-2 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-2 .sectione-2__div {
  margin: 150px 0px 57px 0px;
}
.sectione-2 .sectione-2__div .sectione-2__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff;
}
.sectione-2 .sectione-2__div .sectione-2__content {
  display: flex;
  gap: 46px;
}
.sectione-2 .sectione-2__div .sectione-2__content .sectione-2__carte {
  width: 240px;
  height: 178px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.sectione-2 .sectione-2__div .sectione-2__content .sectione-2__carte .sectione-2__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #fff;
  margin: 30px 0px 13px 0px;
}
.sectione-2 .sectione-2__div .sectione-2__content .sectione-2__carte .sectione-2__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.57);
}
.sectione-2 .sectione-2__div .sectione-2__btn-signln {
  width: 175px;
  height: 53px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 104px 0px 0px 480px;
  transition: 1s;
}
.sectione-2 .sectione-2__div .sectione-2__btn-signln:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}

.sectione-3 {
  max-width: 1122px;
  margin: 0 auto;
  padding: 0, 20px;
}
.sectione-3 .sectione-3__div {
  margin: 240px 0px 0px 0px;
}
.sectione-3 .sectione-3__div .sectione-3__carte {
  display: flex;
}
.sectione-3 .sectione-3__div .sectione-3__carte .sectione-3__content {
  margin: 0px 80px 0px 0px;
}
.sectione-3 .sectione-3__div .sectione-3__carte .sectione-3__content .sectione-3__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte .sectione-3__content .sectione-3__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte .sectione-3__content .sectione-3__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 {
  display: flex;
  margin: 150px 0px 0px 0px;
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 {
  margin: 36px 0px 0px 91px;
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 .sectione-2__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 .sectione-3__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 .sectione-3__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 .sectione-3__text {
  display: flex;
  gap: 30px;
}
.sectione-3 .sectione-3__div .sectione-3__carte-2 .sectione-2__content-2 .sectione-3__text .sectione-3__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-3 {
  display: flex;
  margin: 150px 0px 0px 0px;
}
.sectione-3 .sectione-3__div .sectione-3__carte-3 .sectione-3__content {
  margin: 0px 80px 0px 0px;
}
.sectione-3 .sectione-3__div .sectione-3__carte-3 .sectione-3__content .sectione-3__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-3 .sectione-3__content .sectione-3__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: rgb(255, 255, 255);
}
.sectione-3 .sectione-3__div .sectione-3__carte-3 .sectione-3__content .sectione-3__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(255, 255, 255);
}

.sectione-4 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-4 .sectione-4__div {
  margin: 202px 0px 0px 0px;
}
.sectione-4 .sectione-4__div .sectione-4__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff;
}
.sectione-4 .sectione-4__div .sectione-4__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
.sectione-4 .sectione-4__div .sectione-4__img {
  display: flex;
  gap: 178px;
  margin: 32px 0px 0px 95px;
}
.sectione-4 .sectione-4__div .sectione-4__img-2 {
  display: flex;
  gap: 178px;
  margin: 32px 0px 0px 95px;
}
.sectione-4 .sectione-4__div .sectione-4__btn-signln {
  width: 216px;
  height: 53px;
  background-color: rgb(2, 137, 122);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  margin: 48px 0px 0px 467px;
  transition: 1s;
}
.sectione-4 .sectione-4__div .sectione-4__btn-signln:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}

.sectione-5 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-5 .sectione-5__div {
  margin: 150px 0px 0px 0px;
}
.sectione-5 .sectione-5__div .sectione-5__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #fff;
}
.sectione-5 .sectione-5__div .sectione-5__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #fff;
}
.sectione-5 .sectione-5__div .sectione-5__content {
  display: flex;
  gap: 32px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte {
  width: 348px;
  height: 359px;
  background-color: #fff;
  border-radius: 5px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte .sectione-5__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(34, 52, 61);
  background-color: #ffffff;
  margin: 24px 0px 16px 24px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte .sectione-5__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(34, 52, 61);
  background-color: #fff;
  margin: 0px 0px 0px 24px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte-2 {
  width: 348px;
  height: 359px;
  background-color: #fff;
  border-radius: 5px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte-2 .sectione-5__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(34, 52, 61);
  background-color: #ffffff;
  margin: 24px 0px 16px 24px;
}
.sectione-5 .sectione-5__div .sectione-5__content .sectione-5__carte-2 .sectione-5__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(2, 137, 122);
  background-color: #fff;
  margin: 0px 0px 0px 24px;
}
.sectione-5 .sectione-5__div .sectione-5__karusel {
  display: flex;
  gap: 10px;
  margin: 64px 0px 0px 525px;
}
.sectione-5 .sectione-5__div .sectione-5__karusel .div {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #fff;
}
.sectione-5 .sectione-5__div .sectione-5__karusel .div-2 {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: rgb(2, 137, 122);
}

.sectione-6 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-6 .sectione-6__div .sectione-6__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  color: #fff;
}
.sectione-6 .sectione-6__div .sectione-6__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin: -15px 0px 173px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content {
  display: flex;
  gap: 71px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte {
  width: 322px;
  height: 436px;
  border-radius: 8px;
  background-color: #fff;
  padding: 0px 0px 24px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text-3 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text-4 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: -25px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text {
  display: flex;
  margin: 0px 0px 16px 83px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text .sectione-6__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  font-weight: 700;
  background-color: #fff;
  color: rgb(2, 137, 122);
  margin: 30px 0px 16px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text .sectione-6__text-6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  background-color: #fff;
  color: rgb(175, 175, 175);
  margin: 3px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text .sectione-6__text-7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: rgb(2, 137, 122);
  background-color: #fff;
  margin: 30px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__text-5 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 5px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__btn-signln {
  width: 139px;
  height: 44px;
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  margin: 38px 0px 0px 91px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  border: none;
  transition: 1s;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte .sectione-6__btn-signln:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 {
  width: 322px;
  height: 436px;
  border-radius: 8px;
  background-color: rgb(2, 137, 122);
  padding: 0px 0px 24px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: -25px 0px 0px 0px;
  color: #fff;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text {
  display: flex;
  margin: 0px 0px 16px 83px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text .sectione-6__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 30px 0px 16px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text .sectione-6__text-6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  color: rgb(175, 175, 175);
  margin: 3px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text .sectione-6__text-7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin: 30px 0px 0px 0px;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 5px 0px 0px 0px;
  color: #fff;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__btn-signln {
  width: 139px;
  height: 44px;
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  margin: 38px 0px 0px 91px;
  background-color: #fff;
  color: rgb(2, 137, 122);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  border: none;
  transition: 1s;
}
.sectione-6 .sectione-6__div .sectione-6__content .sectione-6__carte-2 .sectione-6__btn-signln:hover {
  background-color: rgb(2, 137, 122);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.sectione-7 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-7 .sectione-7__div {
  margin: 150px 0px 0px 0px;
}
.sectione-7 .sectione-7__div .sectione-7__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #fff;
}
.sectione-7 .sectione-7__div .sectione-7__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #fff;
}
.sectione-7 .sectione-7__div .sectione-7__content {
  display: flex;
  gap: 64px;
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte {
  width: 327px;
  height: 236px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #fff;
  padding: 28px 0px 0px 28px;
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte .sectione-7__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  color: rgb(115, 115, 115);
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte .div {
  display: flex;
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte .div .div-2 {
  margin: 0px 0px 0px 10px;
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte .div .div-2 .p-1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  color: rgb(2, 137, 122);
  margin: 10px 0px 0px 0px;
}
.sectione-7 .sectione-7__div .sectione-7__content .sectione-7__carte .div .div-2 .p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
}

.sectione-9 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-9 .sectione-9__div .sectione-9__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 130px 0px 32px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin: -15px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.sectione-9 .sectione-9__div .sectione-9__content {
  display: flex;
  gap: 71px;
  margin: 49px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte {
  width: 322px;
  height: 436px;
  border-radius: 8px;
  background-color: #fff;
  padding: 0px 0px 24px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text-3 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text-4 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: -25px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text {
  display: flex;
  margin: 0px 0px 16px 83px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text .sectione-9__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  font-weight: 700;
  background-color: #fff;
  color: rgb(2, 137, 122);
  margin: 30px 0px 16px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text .sectione-9__text-6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  background-color: #fff;
  color: rgb(175, 175, 175);
  margin: 3px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text .sectione-9__text-7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: rgb(2, 137, 122);
  background-color: #fff;
  margin: 30px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__text-5 {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 5px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__btn-signln {
  width: 139px;
  height: 44px;
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  margin: 38px 0px 0px 91px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  border: none;
  transition: 1s;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte .sectione-9__btn-signln:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 {
  width: 322px;
  height: 436px;
  border-radius: 8px;
  background-color: rgb(2, 137, 122);
  padding: 0px 0px 24px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: -25px 0px 0px 0px;
  color: #fff;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text {
  display: flex;
  margin: 0px 0px 16px 83px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text .sectione-9__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin: 30px 0px 16px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text .sectione-9__text-6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  color: rgb(175, 175, 175);
  margin: 3px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text .sectione-9__text-7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin: 30px 0px 0px 0px;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__text-5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 5px 0px 0px 0px;
  color: #fff;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__btn-signln {
  width: 139px;
  height: 44px;
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  margin: 38px 0px 0px 91px;
  background-color: #fff;
  color: rgb(2, 137, 122);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  border: none;
  transition: 1s;
}
.sectione-9 .sectione-9__div .sectione-9__content .sectione-9__carte-2 .sectione-9__btn-signln:hover {
  background-color: rgb(2, 137, 122);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.sectione-10 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-10 .sectione-10__div .sectione-10__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 203px 0px 32px 0px;
}
.sectione-10 .sectione-10__div .sectione-10__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin: -15px 0px 0px 0px;
}
.sectione-10 .sectione-10__div .sectione-10__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.sectione-10 .sectione-10__div .sectione-10__btn-signln {
  width: 224px;
  height: 44px;
  padding: 11px 19px 11px 18px;
  border-radius: 8px;
  margin: 32px 0px 0px 441px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  border: none;
  transition: 1s;
}
.sectione-10 .sectione-10__div .sectione-10__btn-signln:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}

.sectione-11 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-11 .sectione-11__div .sectione-11__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  color: #fff;
  margin: 201px 0px 51px 0px;
}
.sectione-11 .sectione-11__div .sectione-11__content {
  display: flex;
}
.sectione-11 .sectione-11__div .sectione-11__content .sectione-11__carte {
  margin: 0px 0px 0px 68px;
}
.sectione-11 .sectione-11__div .sectione-11__content .sectione-11__carte .sectione-11__text {
  display: flex;
}
.sectione-11 .sectione-11__div .sectione-11__content .sectione-11__carte .sectione-11__text .sectione-11__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  margin: 10px 0px 0px 14px;
}
.sectione-11 .sectione-11__div .sectione-11__content .sectione-11__carte .sectione-11__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

.sectione-12 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-12 .sectione-12__div {
  margin: 152px 0px 0px 0px;
}
.sectione-12 .sectione-12__div .sectione-12__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  color: #fff;
}
.sectione-12 .sectione-12__div .sectione-12__text-4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #fff;
  margin: -10px 0px 50px 0px;
}
.sectione-12 .sectione-12__div .sectione-12__content {
  margin: 0px 0px 0px 95px;
}
.sectione-12 .sectione-12__div .sectione-12__content .sectione-12__text {
  display: flex;
  margin: 16px 0px 20px 0px;
}
.sectione-12 .sectione-12__div .sectione-12__content .sectione-12__text .sectione-12__text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #fff;
  margin: 0px 0px 0px 16px;
}
.sectione-12 .sectione-12__div .sectione-12__content .sectione-12__text-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.sectione-12 .sectione-12__div .sectione-12__content .div {
  width: 920px;
  height: 1px;
  border: 1px;
  background-color: rgb(71, 71, 71);
}

.section-13 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.section-13 .section-13__div {
  margin: 180px 0px 0px 125px;
  width: 850px;
  height: 192px;
}
.section-13 .section-13__div .sectione-13__text-1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.section-13 .section-13__div .section-13__conetent {
  gap: 64px;
  display: flex;
  border: 2px solid red;
}
.section-13 .section-13__div .section-13__conetent .img {
  margin: 0;
}

.sectione-8 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-8 .sectione-8__div {
  width: auto;
  height: 345px;
  border-radius: 32px;
  background-color: rgb(2, 137, 122);
  margin: 157px 0px 0px 46px;
  display: flex;
  padding: 14px 0px 0px 51px;
  justify-content: space-between;
}
.sectione-8 .sectione-8__div .sectione-8__content .sectione-8__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48.45px;
  text-align: left;
  color: #fff;
}
.sectione-8 .sectione-8__div .sectione-8__content .sectione-8__btn-signln {
  width: 150px;
  height: 50px;
  padding: 13px 35px 7px 33px;
  gap: 0px;
  border-radius: 8px;
  border: none;
  color: rgb(2, 137, 122);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 25px 0px 0px 0px;
  transition: 1s;
}
.sectione-8 .sectione-8__div .sectione-8__content .sectione-8__btn-signln:hover {
  background-color: rgb(2, 137, 122);
  color: #fff;
  box-shadow: 0 0 10px #fff;
}

.sectione-17 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.sectione-17 .sectione-17__div .sectione-17__content {
  margin: 180px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 59.6px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fff;
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input {
  width: 469.45px;
  height: 66px;
  padding: 8px 0px 0px 27px;
  border-radius: 100px;
  border: 1px solid rgb(234, 234, 234);
  margin: 0px 0px 24px 0px;
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input .input {
  width: 178px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(31, 46, 53);
  border: 1px solid #636363;
  margin: 0px 138px 0px 0px;
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input .sectione-17__btn-signln {
  width: 117px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(2, 137, 122);
  border: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.sectione-17 .sectione-17__div .sectione-17__content .sectione-17__img {
  max-width: 100%;
  height: auto;
}

.sectione-18 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: auto;
}
.sectione-18 .sectione-18__div {
  margin: 113px 0px 0px 0px;
}
.sectione-18 .sectione-18__div .sectione-18__text-1 {
  color: #fff;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
}
.sectione-18 .sectione-18__div .sectione-18__text-2 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.sectione-18 .sectione-18__div .sectione-18__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.sectione-18 .sectione-18__div .sectione-18__content .sectione-18__carte {
  width: 348px;
  height: 359px;
  border-radius: 8px;
  border: 1px;
  background-color: #fff;
  margin: 32px 0px 0px 0px;
}
.sectione-18 .sectione-18__div .sectione-18__content .sectione-18__carte .sectione-18__img {
  border-radius: 8px;
}
.sectione-18 .sectione-18__div .sectione-18__content .sectione-18__carte .sectione-18__text-3 {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 24px 0px 12px 24px;
}
.sectione-18 .sectione-18__div .sectione-18__content .sectione-18__carte .sectione-18__text-4 {
  color: rgb(34, 52, 61);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin: 0px 0px 0px 24px;
}

.sectione-19 {
  max-width: 1122px;
  padding: 0, 20px;
  margin: auto;
}
.sectione-19 .sectione-19__div {
  margin: 150px 0px 0px 0px;
}
.sectione-19 .sectione-19__div .sectione-19__text-1 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #fff;
}
.sectione-19 .sectione-19__div .sectione-19__text-2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #fff;
}
.sectione-19 .sectione-19__div .sectione-19__img {
  margin: 20px 0px 55px 480px;
}
.sectione-19 .sectione-19__div .sectione-19__img-2 {
  margin: 0px 0px 0px 125px;
}
.sectione-19 .sectione-19__div .div {
  justify-content: center;
  display: grid;
  width: 868px;
  height: 670px;
  background-color: rgb(34, 52, 61);
  border-radius: 15px;
  margin: 60px 0px 0px 125px;
}
.sectione-19 .sectione-19__div .div .text {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.1000000015px;
  text-align: center;
}
.sectione-19 .sectione-19__div .div .input {
  width: 768px;
  height: 54px;
  padding: 19px 20px 19px 20px;
  border-radius: 39px;
  border: 1px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1000000015px;
  color: #000;
}
.sectione-19 .sectione-19__div .div .textarea {
  width: 768px;
  height: 193px;
  padding: 23px 20px 23px 20px;
  border: 1px;
}
.sectione-19 .sectione-19__div .div .but {
  width: 145px;
  height: 52px;
  padding: 18px 38px 18px 38px;
  border-radius: 35px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.200000003px;
  text-align: left;
  border: none;
}

.footer {
  max-width: 1122px;
  padding: 0, 20px;
  margin: 0 auto;
}
.footer .footer__div {
  margin: 150px 0px 0px 0px;
}
.footer .footer__div .footer__content {
  display: flex;
  justify-content: space-between;
}
.footer .footer__div .footer__content .footer__contenir-1 .footer__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}
.footer .footer__div .footer__content .footer__contenir-1 .footer__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(174, 174, 174);
  transition: 0.5s;
}
.footer .footer__div .footer__content .footer__contenir-1 .footer__link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #fff;
}
.footer .footer__div .footer__content .footer__contenir-2 .footer__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}
.footer .footer__div .footer__content .footer__contenir-2 .footer__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(174, 174, 174);
  transition: 0.5s;
}
.footer .footer__div .footer__content .footer__contenir-2 .footer__link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #fff;
}
.footer .footer__div .footer__content .footer__contenir-3 .footer__text-1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}
.footer .footer__div .footer__content .footer__contenir-3 .footer__btn-signln {
  width: 131px;
  height: 39px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgb(2, 137, 122);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 21px 0px 0px 0px;
  transition: 1s;
}
.footer .footer__div .footer__content .footer__contenir-3 .footer__btn-signln:hover {
  background-color: rgb(31, 46, 53);
  box-shadow: 0 0 10px rgb(2, 137, 122);
  color: rgb(2, 137, 122);
}
.footer .footer__div .footer__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

@media (max-width: 992px) {
  .header .nav {
    padding: 0px 80px 0px 80px;
  }
  .header .nav .divv .header__list {
    display: none;
  }
  .section-13 {
    max-width: 1122px;
    padding: 0, 20px;
    margin: 0 auto;
  }
  .section-13 .section-13__div {
    margin: 180px 0px 0px 125px;
    width: 850px;
    height: 192px;
  }
  .section-13 .section-13__div .sectione-13__text-1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
  }
  .section-13 .section-13__div .section-13__conetent {
    gap: 64px;
    align-items: center;
    border: 2px solid red;
  }
  .section-13 .section-13__div .section-13__conetent .img {
    margin: 0;
  }
  .sectione-17 .sectione-17__div .sectione-17__content {
    display: grid;
    justify-content: center;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-1 {
    text-align: center;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-2 {
    text-align: center;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__img {
    margin: 87px 0px 0px 0px;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__text-1 {
    text-align: left;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__text-1 .br {
    display: none;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__btn-signln {
    width: 150px;
    height: 50px;
    padding: 13px 35px 7px 33px;
    gap: 0px;
    border-radius: 8px;
    border: none;
    color: rgb(2, 137, 122);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 25px 0px 0px 0px;
    transition: 1s;
  }
  .sectione-18 {
    max-width: 1122px;
    padding: 0, 20px;
    margin: auto;
  }
  .sectione-18 .sectione-18__div {
    margin: 113px 0px 0px 0px;
  }
  .sectione-18 .sectione-18__div .sectione-18__text-1 {
    color: #fff;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    text-align: center;
  }
  .sectione-18 .sectione-18__div .sectione-18__text-2 {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
  }
  .sectione-18 .sectione-18__div .sectione-18__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 0px 0px 20px;
  }
  .sectione-19 .sectione-19__div {
    margin: 150px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img {
    margin: 20px 0px 55px 400px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 {
    margin: 0px 0px 0px 10px;
  }
  .sectione-19 .sectione-19__div .div {
    justify-content: center;
    display: grid;
    width: 868px;
    height: 670px;
    background-color: rgb(34, 52, 61);
    border-radius: 15px;
    margin: 60px 0px 0px 10px;
  }
  .sectione-19 .sectione-19__div .div .text {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1000000015px;
    text-align: center;
  }
  .sectione-19 .sectione-19__div .div .input {
    width: 768px;
    height: 54px;
    padding: 19px 20px 19px 20px;
    border-radius: 39px;
    border: 1px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1000000015px;
    color: #000;
  }
  .sectione-19 .sectione-19__div .div .textarea {
    width: 768px;
    height: 193px;
    padding: 23px 20px 23px 20px;
    border: 1px;
  }
  .sectione-19 .sectione-19__div .div .but {
    width: 145px;
    height: 52px;
    padding: 18px 38px 18px 38px;
    border-radius: 35px;
    background-color: rgb(2, 137, 122);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.200000003px;
    text-align: left;
    border: none;
  }
  .footer .footer__div {
    margin: 150px 0px 0px 0px;
  }
  .footer .footer__div .footer__content .footer__contenir-1 .footer__text-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
  }
  .footer .footer__div .footer__content .footer__contenir-1 .footer__link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(174, 174, 174);
    transition: 0.5s;
  }
  .footer .footer__div .footer__content .footer__contenir-1 .footer__link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff;
  }
  .footer .footer__div .footer__content .footer__contenir-2 .footer__text-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
  }
  .footer .footer__div .footer__content .footer__contenir-2 .footer__link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(174, 174, 174);
    transition: 0.5s;
  }
  .footer .footer__div .footer__content .footer__contenir-2 .footer__link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff;
  }
  .footer .footer__div .footer__content .footer__contenir-3 .footer__text-1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
  }
  .footer .footer__div .footer__content .footer__contenir-3 .footer__btn-signln {
    width: 131px;
    height: 39px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 137, 122);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 21px 0px 0px 0px;
    transition: 1s;
  }
  .footer .footer__div .footer__content .footer__contenir-3 .footer__btn-signln:hover {
    background-color: rgb(31, 46, 53);
    box-shadow: 0 0 10px rgb(2, 137, 122);
    color: rgb(2, 137, 122);
  }
  .footer .footer__div .footer__text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .header .nav {
    padding: 0px 30px 0px 30px;
  }
  .header .nav .divv .div {
    margin: 8px 0px 0px 0px;
  }
  .header .nav .divv .div .header__btn-signln {
    width: 92px;
    height: 33px;
  }
  .header .nav .divv .div .header__btn-signup {
    width: 90px;
    height: 33px;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__text-1 {
    text-align: left;
    font-size: 32px;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__text-1 .br {
    display: none;
  }
  .sectione-8 .sectione-8__div s .sectione-8__content .sectione-8__btn-signln {
    width: 150px;
    height: 50px;
    padding: 13px 35px 7px 33px;
    gap: 0px;
    border-radius: 8px;
    border: none;
    color: rgb(2, 137, 122);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 25px 0px 0px 0px;
    transition: 1s;
  }
  .sectione-8 .sectione-8__div .sectione-8__img {
    width: 351px;
    height: 351px;
  }
  .sectione-19 .sectione-19__div {
    margin: 150px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img {
    margin: 20px 0px 55px 280px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 {
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 .img {
    width: 680px;
  }
  .sectione-19 .sectione-19__div .div {
    width: 680px;
    margin: 60px 0px 0px -10px;
  }
  .sectione-19 .sectione-19__div .div .text {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1000000015px;
    text-align: center;
  }
  .sectione-19 .sectione-19__div .div .input {
    width: 600px;
    height: 44px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .div .textarea {
    width: 600px;
    height: 193px;
    border: 1px;
  }
  .sectione-19 .sectione-19__div .div .but {
    width: 145px;
    height: 52px;
    padding: 18px 38px 18px 38px;
    border-radius: 35px;
    background-color: rgb(2, 137, 122);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.200000003px;
    text-align: left;
    border: none;
  }
  .footer .footer__div {
    margin: 150px 0px 0px 0px;
  }
  .footer .footer__div .footer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .footer .footer__div .footer__content .footer__contenir-2 {
    margin: 20px 0px 0px 0px;
  }
  .footer .footer__div .footer__content .footer__contenir-3 {
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 576px) {
  .header .nav {
    padding: 0px 20px 0px 20px;
  }
  .header .nav .divv .div {
    margin: 8px 0px 0px 0px;
  }
  .header .nav .divv .div .header__btn-signln {
    width: 82px;
    height: 33px;
  }
  .header .nav .divv .div .header__btn-signup {
    width: 80px;
    height: 33px;
    margin: 0px -10px 0px 0px;
  }
  .sectione-8 .sectione-8__div {
    display: grid;
    width: auto;
    height: 688px;
    border-radius: 32px;
    margin: 157px 0px 0px 0px;
    padding: 0;
    justify-content: center;
  }
  .sectione-8 .sectione-8__div .sectione-8__content .sectione-8__text-1 {
    text-align: center;
    font-size: 32px;
  }
  .sectione-8 .sectione-8__div .sectione-8__content .sectione-8__text-1 .br {
    display: none;
  }
  .sectione-8 .sectione-8__div .sectione-8__content .sectione-8__btn-signln {
    margin: 0px 0px 0px 90px;
    transition: 1s;
  }
  .sectione-8 .sectione-8__div .sectione-8__img {
    width: 351px;
    height: 351px;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-1 .br {
    display: none;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-2 .br {
    display: none;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input {
    width: 346px;
    margin: 0px 0px 24px 0px;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input .input {
    margin: 0px 10px 0px 0px;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .img {
    margin: 0px 0px 0px 0px;
  }
  .sectione-18 .sectione-18__div {
    margin: 113px 0px 0px 0px;
  }
  .sectione-18 .sectione-18__div .sectione-18__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div {
    margin: 150px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img {
    margin: 20px 0px 55px 180px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 {
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 .img {
    width: 500px;
  }
  .sectione-19 .sectione-19__div .div {
    width: 500px;
    margin: 60px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .div .text {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1000000015px;
    text-align: center;
  }
  .sectione-19 .sectione-19__div .div .input {
    width: 400px;
    height: 44px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .div .textarea {
    width: 400px;
    height: 193px;
    border: 1px;
  }
  .sectione-19 .sectione-19__div .div .but {
    width: 145px;
    height: 52px;
    padding: 18px 38px 18px 38px;
    border-radius: 35px;
    background-color: rgb(2, 137, 122);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.200000003px;
    text-align: left;
    border: none;
  }
}
@media (max-width: 428px) {
  .header {
    height: 70px;
  }
  .header .nav {
    padding: 0px 20px 0px 20px;
  }
  .header .nav .divv .div {
    display: none;
    margin: 8px 0px 0px 0px;
  }
  .header .nav .divv .div .header__btn-signln {
    width: 82px;
    height: 33px;
  }
  .header .nav .divv .div .header__btn-signup {
    width: 80px;
    height: 33px;
    margin: 0px -10px 0px 0px;
  }
  .header .nav .menu {
    display: flex;
    background-color: rgb(31, 46, 53);
    border: none;
    margin: 22px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div {
    margin: 150px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img {
    margin: 20px 0px 55px 110px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 {
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .sectione-19__img-2 .img {
    width: 365px;
  }
  .sectione-19 .sectione-19__div .div {
    width: 365px;
    margin: 60px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .div .text {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1000000015px;
    text-align: center;
  }
  .sectione-19 .sectione-19__div .div .input {
    width: 300px;
    height: 44px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .sectione-19 .sectione-19__div .div .textarea {
    width: 300px;
    height: 193px;
    border: 1px;
  }
  .footer .footer__div {
    margin: 150px 0px 0px 0px;
  }
  .footer .footer__div .footer__content {
    display: contents;
    justify-content: center;
  }
  .footer .footer__div .footer__content .footer__contenir-2 {
    margin: 20px 0px 0px 0px;
  }
  .footer .footer__div .footer__content .footer__contenir-3 {
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-1 .br {
    display: none;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__text-2 .br {
    display: none;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input {
    width: 346px;
    margin: 0px 0px 24px 0px;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .sectione-17__input .input {
    margin: 0px 10px 0px 0px;
  }
  .sectione-17 .sectione-17__div .sectione-17__content .sectione-17__text .img {
    margin: 0px 0px 0px 0px;
  }
}/*# sourceMappingURL=stail.css.map */